.header-start {
    padding: 1rem 120px;
}
.header-body {
    padding: 20px 120px;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}
.header-body.transparent {
    background-color: black !important;
}
.social-icons {
    display: flex;
    justify-content: flex-end;
}

.social-icon {
    margin-right: 10px; /* Để tạo khoảng cách giữa các biểu tượng xã hội */
    color: white;
    margin-left: 10px;
}
.contact_text {
    font-size: 0.8rem;
}
.signin-btn {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

@media (max-width: 672px) {
    .header-start,
    .header-body {
        padding: 2rem 1rem;
    }
    .header-body {
        background: black !important;
    }
}